In [24]:
countries={'CA':'Canada', 'US':'United States', 'MX': 'Mexico'}
print(countries)
countries.pop('CA')
print(countries)

{'CA': 'Canada', 'US': 'United States', 'MX': 'Mexico'}
{'US': 'United States', 'MX': 'Mexico'}

In [2]:
countries['GB']='Great Britain'

In [3]:
print(countries)

{'CA': 'Canada', 'US': 'United States', 'MX': 'Mexico', 'GB': 'Great Britain'}

In [4]:
students={"Rolf": 96, "Anne": 97, "Tom":88}
print(students['Tom'])

88

In [7]:
for student, grades in students.items():
    print(f'{student}: {grades}')

Rolf: 96
Anne: 97
Tom: 88

In [8]:
if 'lili' in students: 
    print('Success')
else:
    print('Not found')

Not found

In [11]:
grades=students.values()
print(sum(grades)/len(grades))

93.66666666666667

In [15]:
dictToTup=list(students.items())
print(dictToTup)
for t in dictToTup:
    x, y =t
    print(x, y)

[('Rolf', 96), ('Anne', 97), ('Tom', 88)]
Rolf 96
Anne 97
Tom 88

In [17]:
car=("Honda", 2020, "Odyssey")
manufacturer, _, model = car
print(manufacturer, model)

Honda Odyssey

In [18]:
listEx = ['Jane Eyre', 'Wuthering Heights', 'Agnes Grey']
tupleEx = ('Jane Eyre', 'Wuthering Heights', 'Agnes Grey')
setEx = {'Jane Eyre', 'Wuthering Heights', 'Agnes Grey'}
print(listEx)
listEx[2]='The Professor'
print(listEx)

['Jane Eyre', 'Wuthering Heights', 'Agnes Grey']
['Jane Eyre', 'Wuthering Heights', 'The Professor']

In [21]:
listEx = ['Jane Eyre', 'Wuthering Heights', 'Agnes Grey']
listEx.append('Villette')
setEx = {'Jane Eyre', 'Wuthering Heights', 'Agnes Grey'}
setEx.add('Villette')
print(listEx)
print(setEx)

['Jane Eyre', 'Wuthering Heights', 'Agnes Grey', 'Villette']
{'Villette', 'Wuthering Heights', 'Jane Eyre', 'Agnes Grey'}

In [22]:
tupleEx = ('Jane Eyre', 'Wuthering Heights', 'Agnes Grey')
book1, book2, book3=tupleEx
print(book1, book2, book3)

Jane Eyre Wuthering Heights Agnes Grey

In [23]:
listEx = ['Jane Eyre', 'Wuthering Heights', 'Agnes Grey']
listEx.remove('Agnes Grey')
setEx = {'Jane Eyre', 'Wuthering Heights', 'Agnes Grey'}
setEx.remove('Agnes Grey')
print(listEx)
print(setEx)

['Jane Eyre', 'Wuthering Heights']
{'Wuthering Heights', 'Jane Eyre'}

In [25]:
print(grades)

dict_values([96, 97, 88])

In [27]:
grades=[96, 97, 88, 80]
gradesWithBonus=[num+num*0.1 for num in grades]
print(gradesWithBonus)

[105.6, 106.7, 96.8, 88.0]

In [28]:
students=[("Rolf", 96, 98), ("Anne", 97, 95), ("Tom", 88, 90)]

student_grades={student[0]:student for student in students}
print(student_grades)

{'Rolf': ('Rolf', 96, 98), 'Anne': ('Anne', 97, 95), 'Tom': ('Tom', 88, 90)}

In [36]:
students=[["Rolf", 96, 98], ["Anne", 97, 95], ["Tom", 88, 90]]
    
student_grades={x[0]: x[1:] for x in students}
print(student_grades)

{'Rolf': [96, 98], 'Anne': [97, 95], 'Tom': [88, 90]}

In [37]:
temperatures = {
'Monday': [67, 71, 74, 77],
'Tuesday': [52, 56, 66 , 50],
'Wednesday': [77, 80, 87 , 95],
'Thursday': [67, 77, 81 , 77],
'Friday': [54 , 60 , 67, 60],
}
for s in temperatures.items():
     print(s)

('Monday', [67, 71, 74, 77])
('Tuesday', [52, 56, 66, 50])
('Wednesday', [77, 80, 87, 95])
('Thursday', [67, 77, 81, 77])
('Friday', [54, 60, 67, 60])

In [38]:
t=('Monday', [67, 71, 74, 77]) 
x, y =t
print(x, y)

Monday [67, 71, 74, 77]

In [48]:
tongueTw='Peter Piper picked a peck of pickled peppers A peck of pickled peppers Peter Piper picked if Peter Piper picked a peck of pickled peppers Where is the peck of pickled peppers Peter Piper picked'

unique=set(tongueTw.lower().split(' '))
allWords=list(tongueTw.lower().split(' '))
keyVal={}
for word in unique:
    count=0
    for x in allWords:
        if x==word:
            count+=1
    keyVal[word]= count
print ("Word", "Count")
for k, v in keyVal.items():
    if v>1:
        print(f'{k}{v}')

Word Count
a3
of4
peppers4
pickled4
piper4
peck4
picked4
peter4